node_modules
dist
.env
.env.local
.DS_Store

# Firebase Functions
functions/node_modules
functions/lib
functions/.env
functions/.env.local
functions/.env.*.local

# Firebase local/cache
.firebase

# Logs
*.log
npm-debug.log*
